<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %X{ip} [%thread] %-5level %logger{36} - %msg %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <if condition='isDefined("catalina.base")'>
        <then>
            <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${catalina.base}/logs/education-rest.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <FileNamePattern>${catalina.base}/logs/education-rest.%d{yyyy-MM-dd}.log</FileNamePattern>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>%d{HH:mm:ss.SSS} %X{ip} [%thread] %-5level %logger{36} - %msg %n</pattern>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>logs/education-rest.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- daily rollover -->
                    <fileNamePattern>education-rest.%d{yyyy-MM-dd}.log</fileNamePattern>
                    <!-- keep 30 days' worth of history -->
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>%d{HH:mm:ss.SSS} %X{ip} [%thread] %-5level %logger{36} - %msg %n</pattern>
                </encoder>
            </appender>
        </else>
    </if>

    <logger name="ru.education" additivity="false">
        <level value="debug"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="dailyRollingFileAppender"/>
    </logger>

    <root>
        <level value="debug"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>